Because you know the good old days
They can not tell them.
They must pretend to be orgasm and damn.
Today, we can say to Niggas: "Hey, I want to run, mothafucka"
You are very broken, I love him (I love him)
You are very broken, I love him (I love him)
You are so crazy, I love him (I love him, I love him)
(I'm a slut, tell your cousin)
Your friend is an idiot, McLovin (idiot, McLovin, ooh ...)
I just stopped in front of a ghost
This fucked slut in London (top)
Then I fucked her cousin
Or his sister, I do not know (uh-uh, woo)
And my niggas are ignorant.
Like a lighter bitch, we ignore (we ignore, yes)
All the water in my neck.
It seems I fell when I went fishing
So many diamonds in my bust
Damn what time is it Where are we?
Me and Smokepurp drink (ayy)
Damn it, she accepted.
You are very broken, I like it (I love, scoop!)
You are very broken, I love him (I love him)
You are fucking
When do you first request a lightning bolt or even lightning bolt?
Why are you trying to pretend that you drink mineral water before coming here?
You are a bloody ...
I'm a sick person, I love a little fuck (yes!)
I'm a sick person, I love a little fuck (yes!)
I'm a sick person, I love a little fuck (yes!)
I'm a sick person, I love a little fuck (yes!)
I'm sick, shit, I like shit fast
I like to suck my cock, I bought you a sick truck
I will buy you new breasts, I will give you this tip
How do you start a family? Sliding rubber condom
I am a sick person, I am not fit.
I love to hear stories, I love this
I want to hear more, I like shit.
Send me more shit, slut (slut, slut)
You are very broken, I love him (I love him)
You are very broken, I love him (I love him)
Because you know the good old days
They can not tell them.
They must pretend to be orgasm and damn.
Today, we can say to Niggas: "Hey, I want to run, mothafucka"
